@media (max-width: 950px) {
  .tableContainer { 
      width: 100% !important;
      overflow-x: auto; 
  }

  .tableContainer td, th {
    min-width: 100px;
  }
}

.complexTableContainer {
  width: 100% !important;
  overflow-x: auto; 
}

.tableContainer .complexTable td {
  min-width: 200px;
}

.tableContainer .complexTable th {
  min-width: 200px;
}