@media (max-width: 950px) {
  .tableContainer { 
      width: 100% !important;
      overflow-x: auto; 
  }

  .tableContainer td, th {
    min-width: 100px;
  }
}

@media (min-width: 951px) {
  .tableContainer {
    padding-top: 1.9em;
    padding-bottom: 0.01em;
  }
}

.complexTableContainer {
  width: 100% !important;
  overflow-x: auto; 
}

.tableContainer .complexTable td {
  min-width: 200px;
}

.tableContainer .complexTable th {
  min-width: 200px;
}

.credits {
  margin-top: 2em;
  display: table;
  width: 50%;
  table-layout: fixed;
  border-spacing: 0.2em;
  margin-left: auto;
  margin-right: auto;
  
  i {
    font-size: 20px;
    padding-top: 1em;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.user {
  display: table-cell;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  a, a:hover {
    text-decoration: none !important;
  }
  img {
    border-radius: 50%;
    width: 80%;
  }
  h3 {
    margin: 0.3em !important;
  }
  p {
    opacity: 0.65;
    margin-bottom: 0px !important;
  }
}

table {
  display: table;
  width: 100%;
}

.tab-container {
	display: flex;
	flex-wrap: wrap;

	section {
		display: contents;

		> input {
			display: none;
		}

		.tab-link {
			border: 1px solid var(--c-border);
			border-bottom-width: 0;
			padding: 0.5rem 1rem;
			transition: 150ms ease;
			cursor: pointer;
		}
	
		@media screen and (min-width: 576px) {
			html:not([dir=rtl]) & {
				&:not(:first-of-type) .tab-link {
					border-left-width: 0px;
				}

				&:first-of-type .tab-link {
					border-top-left-radius: 0.25rem;
				}

				&:last-of-type .tab-link {
					border-top-right-radius: 0.25rem;
				}
			}

			html[dir=rtl] & {
				&:not(:first-of-type) .tab-link {
					border-right-width: 0px;
				}

				&:first-of-type .tab-link {
					border-top-right-radius: 0.25rem;
				}

				&:last-of-type .tab-link {
					border-top-left-radius: 0.25rem;
				}
			}
		}

		@media screen and (max-width: 575px) {
			.tab-link {
				width: 100%;
			}

			&:first-of-type .tab-link {
				border-radius: 0.25rem 0.25rem 0 0;
			}
		}
	}

	.tab {
		display: none;
		order: 99;
		padding: 1rem 1rem 1rem 1rem;
		margin-bottom: 1rem;
		width: 100%;
		border: 1px solid var(--c-border);

		@media screen and (min-width: 576px) {
			border-radius: 0 0.25rem 0.25rem 0.25rem;

			html[dir=rtl] & {
				border-radius: 0.25rem 0 0.25rem 0.25rem;
			}
		}


		@media screen and (max-width: 575px) {
			border-radius: 0 0 0.25rem 0.25rem;
		}
	}

	input:checked + .tab-link + .tab {
		display: block;
	}

	input:checked + .tab-link:not(:hover):not(:active):not(:focus) {
		background-color: var(--c-border);
		border-color: var(--c-border);
	}

	.tab-link:hover, .tab-link:active, .tab-link:focus {
		background-color: var(--c-border-dark);
		border-color: var(--c-border-dark);
	}
}