name: Build site

on:
  # trigger deployment on every push to main branch
  push:
    branches: [ main, master ]
  # trigger deployment manually
  workflow_dispatch:
  repository_dispatch:
    types:
      - update-repo

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Generate appledb-web page data
        run: node generatePageData/index.js

      - name: Build VuePress site
        run: yarn ghbuild

      - name: Generate stub pages
        run: node generatePageStubs.js

      # please check out the docs of the workflow for more details
      # @see https://github.com/crazy-max/ghaction-github-pages
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        timeout-minutes: 10
        with:
          # deploy to gh-pages branch
          target_branch: gh-pages
          # deploy the default output dir of VuePress
          build_dir: docs/.vuepress/dist
        env:
          # @see https://docs.github.com/en/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
